* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: $color_base;
}

p,
li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $color_primary;
}

.text-xl {
  font-size: 3.4rem;
  line-height: 4.1rem;
}

button {
  $btn_color: #c9ab7f;
  background-color: $btn_color;
  outline: $btn_color;
  border: .125rem solid $btn_color;
  border-radius: .5rem;
  padding: 1rem 4rem;
  color: $color_white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
