* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

p,
li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $color_primary;
}

.text-xl {
  font-size: 3.4rem;
  line-height: 4.1rem;
}
