<section class="section__wrapper">
    <div class="banner__wrapper--left">
      <div class="banner__title">
        <h3>
          <!-- My top skills <br /> -->
          Front End
        </h3>
      </div>
      <div class="banner__title-desc">
        < Web Design / User Interface / Web Development >
      </div>
    </div>
    <span class="banner__separator">
      <h3>
        <fa-icon [icon]="faLaptopCode" size="4x"></fa-icon>
      </h3>
    </span>
    <div class="banner__wrapper--right">
      <ul class="skills__list">
        <li *ngFor="let skill of this.frontEndSkills" class="skills__list-item" attr.aria-label={{skill}}>
          {{ skill }}
        </li>
      </ul>
    </div>
</section>
<section class="section__wrapper">
    <div class="banner__wrapper--left is--back-end">
        <!-- My top skills <br /> -->
        <ul class="skills__list">
          <li *ngFor="let skill of this.backEndSkills" class="skills__list-item" attr.aria-label={{skill}}>
            {{ skill }}
          </li>
        </ul>
    </div>
    <span class="banner__separator">
      <fa-icon [icon]="faServer" size="4x"></fa-icon>
    </span>
    <div class="banner__wrapper--right is--back-end">
      <div class="banner__title">
        <h3>
          Back End
        </h3>
      </div>
      <div class="banner__title-desc">
        < API Development | Version Control | System Design >
      </div>
    </div>
</section>