<section class="section__wrapper">
    <!-- Start of the frontend section -->
    <div class="banner__front">
        FRONT-END
    </div>
    <!-- Start of the backend section -->
    <span class="banner__photo">
        <div class="banner__photo--img-wrapper">
            <img class="banner__photo--image-1" src="/assets/images/me.png" alt="Norman Munge" />
            <img class="banner__photo--image-2" src="/assets/images/me.png" alt="Norman Munge" />
            <img class="banner__photo--image-3" src="/assets/images/me.png" alt="Norman Munge" />
            <img class="banner__photo--image-4" src="/assets/images/me.png" alt="Norman Munge" />
        </div>
    </span>
    <div class="banner__back">
        Back-End
    </div>
</section>