$color_primary: #7fc9c9;
$color_secondary: #c9ab7f; //#b75454;
$color_tertiary: #895B2D; //#c97fab
$color_base: #f7fcfc; //#ecf7f7
$color_black: #303030;
$color_white: #fff;


$banner_left: $color_primary;
$banner_right: $color_secondary;