<section class="user__details">
  <div class="user__profile">
    <div class="user__headline" aria-label="Profile introduction"> 
      <h1 class="user__title">Hey! I'm</h1>
      <span class="user__title-forename">&nbsp;Norman</span>
      <span class="user__title-surname">&nbsp;Munge</span>
    </div>

    <div class="user__description" aria-label="Profile description">
      A fullstack developer based in Kenya. I am passionate about technology, software development, growth,
      mentorship, and entrepreneurship. When not hammering algorithms and
      jumbles on my keyboard, I enjoy working out, investing, creative design,
      music, reading and writing.
    </div>
  </div>

  <div class="user__wrapper">
    <div class="user__image">
      <div class="user__img-wrapper">
        <img
          class="user__image-1"
          src="/assets/images/me.png"
          alt="Norman Munge"
          loading="lazy"
        />
        <img
          class="user__image-2"
          src="/assets/images/me.png"
          alt="Norman Munge"
          loading="lazy"
        />
        <img
          class="user__image-3"
          src="/assets/images/me.png"
          alt="Norman Munge"
          loading="lazy"
        />
        <img
          class="user__image-4"
          src="/assets/images/me.png"
          alt="Norman Munge"
          loading="lazy"
        />
      </div>
    </div>
    <blockquote class="quote" aria-label="Profile albert einstein quote">
      <h3 class="quote__description">You never fail until you stop trying.</h3>
      <span class="quote__author"> &#10077; Albert Einstein &#10078;</span>
    </blockquote>
  </div>
</section>
