<section class="section__wrapper">
  <div class="user__details">
    <div class="user__profile">
      <h1 class="user__title text-xl">Hey! I am</h1>
      <span class="user__title-forename text-xl">Norman</span>
      <span class="user__title-surname text-xl">&nbsp;Munge</span>

      <div class="user__description">
        A fullstack developer based in Kenya. For over 5 years, frontend
        engineering has been my cup of tea. However, I also have knowledge in
        backend with particular interest in the business logic.
        <br /><br />
        I am passionate about technology, software development, growth,
        mentorship, and entrepreneurship. When not hammering algorithms and
        jumbles on my keyboard, I enjoy working out, investing, creative design,
        music, reading and writing.
      </div>
    </div>

    <div class="user__wrapper">
      <div class="user__image">
        <div class="user__img-wrapper">
          <img
            class="user__image-1"
            src="/assets/images/me.png"
            alt="Norman Munge"
          />
          <img
            class="user__image-2"
            src="/assets/images/me.png"
            alt="Norman Munge"
          />
          <img
            class="user__image-3"
            src="/assets/images/me.png"
            alt="Norman Munge"
          />
          <img
            class="user__image-4"
            src="/assets/images/me.png"
            alt="Norman Munge"
          />
        </div>
      </div>
      <blockquote class="quote">
        <h3 class="quote__description">
          You never fail until you stop trying.
        </h3>
        <span class="quote__author"> &#8211; Albert Einstein </span>
      </blockquote>
    </div>
  </div>
</section>
