/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/******** HELPERS ie Variable, Mixins ***************/
@import "./assets/styles/helpers/variables.scss";
@import "./assets/styles/helpers/mixins.scss";
@import "./assets/styles/base/global.scss";

/********* BASE ie global, typography ***************/
@import "./assets/styles//base/typography.scss";

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  header {
    @apply flex
  }
}

//to extend tailwind utilities
// @layer utilities {
//     .scroll-snap-none {
//         scroll-snap-type: none;
//     }
//     .scroll-snap-x {
//         scroll-snap-type: x;
//     }
//     .scroll-snap-y {
//         scroll-snap-type: y;
//     }
// }

@layer components {
  .section {
    &__wrapper {
      @apply container relative mx-0 flex flex-col md:flex-row flex-nowrap flex-auto w-screen max-w-full max-h-full;
    }
  }

  .banner {
    &__front,
    &__separator,
    &__back {
      @apply w-full relative;
    }
    &__separator {
      @apply flex-none absolute;
    }
    &__title {
      @apply relative text-center;

      h3 {
        @apply absolute top-1/2 left-1/2;
      }

      &-desc {
        @apply text-center
      }
    }
    &__wrapper {
      @apply flex flex-row
    }
  }

  .skills {
    &__type {
      @apply block pt-8 text-center;
    }
    &__list {
      @apply relative text-center m-auto;
      &-item {
      }
    }
  }

  .user {
    &__details {
      @apply flex flex-col md:flex-row;
    }

    &__headline {
      @apply flex pb-7 flex-col items-center md:flex-row md:items-baseline
    }
    

    &__profile {
      @apply pt-12 md:pt-0 order-2 md:order-1;
    }

    &__wrapper {
      @apply relative flex flex-col m-auto order-1 md:order-2 md:text-center;
    }

    &__title {
      @apply flex-auto flex-grow flex-shrink-0 text-xl;

      &-forename,
      &-surname {
        @apply font-bold text-xl;
      }
    }

    &__description {
      @apply p-1 font-light text-center md:text-left;
    }

    &__image {
    }

    &__img-wrapper {
      @apply relative mx-auto my-0 md:mx-0 md:my-auto -mt-24;

      img {
        @apply absolute top-0 left-0;
      }
    }
  }

  .social {
    &__wrapper {
      @apply flex flex-row
    }

    &__item {
      @apply p-4;
    }
  }

  .contact {
    &__wrapper {
      @apply flex flex-row w-full h-52
    }
    &__cv {
      
    }
    &__copyright {
      @apply text-center;
    }
    &__details {
      @apply flex flex-col items-center
    }
  }

  .navigation {
    @apply relative self-center md:self-end md:text-right;
  }

  .quote {
    @apply text-center pt-12;
  }
}


.header {
  @include globalPagePadding();

  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  
  @include breakpoint(med-large) { 
    flex-direction: row;
    justify-content: flex-start;
    > * {
      flex: 1;
    }
  }
  
}

.logo {
  font-size: 2rem;
}

.navigation {
  @include breakpoint(med-large) { 
    top: -0.625rem;
  }
  li {
    font-size: 1.25rem;
  }
}

.section {
  &__wrapper {
    // height: 37.5rem;
    height: auto;
    > * {
      flex: 1;
    }
  }
}

.banner {
  &__title {
    height: 70%;
    padding: 9.375rem;

    h3 {
      color: $color_tertiary;
      font-size: 3.125rem;
      transform: translate(-50%,-50%);
    }

    @include breakpoint(med-large) {
      height: 90%;
    }
  }
  &__wrapper {
    &--left {
      background-color: $color_secondary;
  
      &.is--back-end {
        background-color: $color_white;
        order: 2;

        @include breakpoint(med-large) {
          order: 1;
        }
      }
    }
    &--right {
      background-color: $color_white;
  
      &.is--back-end {
        background-color: $color_primary;

        @include breakpoint(med-large) {
          order: 2;
        }
      }
    }
  }

  &__separator {
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__back {
    background-color: $banner_right;
  }
}

.user {
  &__details {
    $paddingTop: calc(#{$globalPagePadding} / 2);
    $paddingBottom: calc(#{$globalPagePadding} / 3);
    $paddingLeft: 2rem;
    $paddingLeftLarge: 12rem;
    $paddingRightLarge: 12rem;

    @include globalPagePadding($top: $paddingTop, $mobileTop: $paddingTop, $mobileBottom: $paddingBottom);
    
    @include breakpoint(med-large) {
      @include globalPagePadding($left: $paddingLeft);
    }
    @include breakpoint(xlarge) {
      @include globalPagePadding($left: $paddingLeftLarge, $right: $paddingRightLarge);
    }
  }

  &__profile {
    @include breakpoint(med-large) {
      max-width: 70%;
    }
  }

  &__wrapper {
    @include breakpoint(med-large) {
      margin-left: 4.375rem;
      margin-top: -8.125rem;
    }
  }

  &__title {
    &-forename {
      color: rgba($color_black, 0.25);
    }

    &-surname {
      color: $color_primary;
    }
  }

  &__image {
    flex: 0 1 40%;
  }
  &__img-wrapper {
    width: 15rem;
    height: 15rem;

    @include breakpoint(med-large) {
      width: 25rem;
      height: 25rem;
    }

    img {
      width: inherit;
      height: inherit;
      transform-origin: left;
      border-radius: 100%;
    }
  }

  &__image-2,
  &__image-3,
  &__image-4 {
    display: none;
  }

  @include breakpoint(large) {
    &__image-2,
    &__image-3,
    &__image-4 {
      display: block;
    }
    &__image-1 {
      clip-path: polygon(0 0, 0 32%, 28% 0);
      transform: translate(-10px, -10px);
      transition: transform 300ms ease;
      transform-origin: top;
      .user__img-wrapper:hover & {
        transform: translate(0, 0);
      }
    }
  
    &__image-2 {
      clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
      transform: translate(-30px, 5px);
      transition: transform 300ms ease;
      .user__img-wrapper:hover & {
        transform: translate(0, 0);
      }
    }
  
    &__image-3 {
      clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
      transform: translate(-15px, -10px);
      transition: transform 300ms ease;
      .user__img-wrapper:hover & {
        transform: translate(0, 0);
      }
    }
  
    &__image-4 {
      clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
      transform: translate(-32px, 5px);
      transition: transform 300ms ease;
      transform-origin: top;
      .user__img-wrapper & {
        transform: translate(0, 0);
      }
    }
  }
}

.skills {
  &__list {
    height: 100%;
    
    padding: 6rem 2rem;
    text-align: center;
    margin-top: 5rem;

    @include breakpoint(med-large) {
      padding: 9.375rem;
      margin-top: 0;
    }
  }
  &__wrapper {
    &--left {
      background-color: $color_secondary;

      &.is--back-end {
        background-color: $color_white;
      }
    }
    &--right {
      background-color: $color_white;

      &.is--back-end {
        background-color: $color_primary;
      }
    }
  }
}
.quote {
  &__author {
    font-family: "Yeseva One", cursive;
  }
}

.banner__title,
.skills__type {
  font-family: "Yeseva One", cursive;
}

.contact {
  &__wrapper {
    justify-content: center;
    align-items: flex-start;

    > * {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
}
